.DS_Store
.idea
*.vcd
*.fst
*.fst.hier
runs
tt_submission
tt_uart/
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
.venv/
__pycache__/
*.py[cod]
*.zip
